<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - tour</title>
    <link rel="stylesheet" href="~/css/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/lib/summernote/summernote-bs4.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body class="sidebar-mini" style="height: auto;">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <form class="form-inline ml-3" action="/Search" method="GET">
                <div class="input-group input-group-sm">
                    <input class="form-control" type="search" name="key" placeholder="Nhập tên cần tìm">
                </div>
                <div class="col-auto my-1">
                    <select class="form-control form-control-sm" name="op">
                        <option value="0">Tìm theo đoàn</option>
                        <option value="1">Tìm theo tour</option>
                        <option value="2">Tìm theo khách</option>
                    </select>
                </div>
                <button type="submit" class="btn-sm btn-primary">Tìm kiếm</button>
            </form>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-x-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6.146-2.854a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/" class="brand-link">
                <img src="~/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">Quản lý tour</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a href="/Quanlytour" class="nav-link">
                                <i class="fas fa-map-marked-alt"></i>
                                <p>Quản lý tour</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Doan" class="nav-link">
                               <i class="fas fa-users"></i>
                                <p>Quản lý đoàn</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Quanlygia" class="nav-link">
                                <i class="fas fa-file-invoice-dollar"></i>
                                <p>Quản lý giá</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/ChiPhi" class="nav-link">
                                 <i class="fas fa-hand-holding-usd"></i>
                                <p>Quản lý chi phí</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/DiaDiem" class="nav-link">
                                <i class="fas fa-map-marker-alt"></i>
                                <p>Quản lý địa điểm</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Nhanvien" class="nav-link">
                                <i class="fas fa-user"></i>
                                <p>Quản lý nhân viên</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/KhachHangs" class="nav-link">
                                <i class="fas fa-book-reader"></i>
                                <p>Quản lý khách hàng</p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidotnet rundebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        @RenderBody()
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 3.0.5
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    @* <script src="~js/chart.js/Chart.min.js"></script> *@
    <script src="~/js/demo.js"></script>
    <script src="~/js/select.js" asp-append-version="true"></script>
    <script src="~/js/handle.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/summernote/summernote-bs4.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
