@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Quản lý tour";
    var Loai = ViewBag.Loai as IEnumerable<Loais>;
    var ThanhPho = ViewBag.ThanhPho as IEnumerable<DiaDiems>;
}
@model tour.ViewModels.ChiTietTourVM;
@Html.HiddenFor(model => model.IdDiaDiem);
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Thêm tour mới</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Thêm tour</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid card">
            <div class="col-12">
                <form method="post">
                    <div class="row">
                        <div class="col-12" style="padding: 20px;">
                            <div class="form-group">
                                <label>Tên tour</label>
                                <input asp-for="TenTour" type="text" class="form-control" placeholder="Nhập tên tour">
                                <span class="text-danger" asp-validation-for="TenTour"></span>
                            </div>
                            <div class="form-group">
                                <label>Loại</label>
                                <select asp-for="IdLoai" class="form-control">
                                    @foreach (var l in Loai)
                                    {
                                        <option value="@l.LoaiId">@l.Ten</option>
                                    }
                                </select>
                                <span class="text-danger" asp-validation-for="IdLoai"></span>
                            </div>
                            <div class="form-group">
                                <label>Mô tả</label>
                                <textarea asp-for="Mota" class="form-control" placeholder="Place some text here"></textarea>
                                <span class="text-danger" asp-validation-for="Mota"></span>
                            </div>
                        </div>
                        <div class="col-12" style="padding: 20px;">
                            <div class="row">
                                <div class="col-4">
                                    <label>Chọn địa điểm</label>
                                    <div class="form-group">
                                        <select class="form-control" id="select-location-tour">
                                            <option>Chọn thành phố</option>>
                                            @foreach (var t in ThanhPho)
                                            {
                                                <option>@t.Thanhpho</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="card list-place-tour">
                                        <div class="card-body check-main-tour list-place1" id="check-main-tour-to">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1 justify-content-center align-self-center">
                                    <button type="button" class="btn btn-outline-primary form-control" style="margin-bottom:10px;" id="location-add">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                                        </svg>
                                    </button>
                                    <button type="button" class="btn btn-outline-primary form-control" id="location-de">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                                        </svg>
                                    </button>
                                </div>
                                <div class="col-4">
                                    <label>Kết quả</label>
                                    <div class="form-group">
                                        <input asp-for="IdDiaDiem" type="hidden " class="form-control" id="kq-list-place">
                                        <span class="text-danger" asp-validation-for="IdDiaDiem"></span>
                                        <button class="btn btn-outline-primary form-control">Xóa tất cả</button>
                                    </div>
                                    <div class="card list-place-tour">
                                        <div class="card-body check-main-tour list-place2" id="check-main-tour-form">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1 justify-content-center align-self-center">
                                    <button type="button" class="btn btn-outline-primary form-control" style="margin-bottom:10px;" id="location-up">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                                        </svg>
                                    </button>
                                    <button type="button" class="btn btn-outline-primary form-control" id="location-down">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                                        </svg>
                                    </button>
                                </div>
                                <div class="modal-footer col-12">
                                    <button type="submit" class="btn btn-primary">Lưu</button>
                                </div>
                            </div>
                </form>

    </section>
</div>