@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Quản lý tour";
}
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Thêm tour mới</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
              <li class="breadcrumb-item active">Thêm tour</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <section class="content">
      <div class="container-fluid card">
        <div class="col-12">
          <div class="row">
            <div class="col-6" style="padding: 20px;">
              <div class="form-group">
                <label>Tên tour</label>
                <input type="text" class="form-control" placeholder="Nhập tên tour">
              </div>
              <div class="form-group">
                <label>Loại</label>
                <select class="form-control">
                  <option>Chọn loại hình du lịch</option>
                  <option>Du lịch di động</option>
                  <option>Du lịch nghề nghiệp</option>
                  <option>Du lịch xã hội</option>
                  <option>Du lịch gia đình</option>
                </select>
              </div>
              <div class="form-group">
                <label>Mô tả</label>
                <textarea class="form-control" placeholder="Place some text here"></textarea>
              </div>
            </div>
            <div class="col-6" style="padding: 20px;">
              <div class="row">
                <div class="col-6">
                  <label>Chọn địa điểm</label>
                  <div class="form-group">
                    <select class="form-control">
                      <option>Chọn thành phố</option>
                      <option>Nha trang</option>
                      <option>Phan thiết</option>
                    </select>
                  </div>
                  <div class="card list-place-tour">
                    <div class="card-body">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                          Mũi né
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                        <label class="form-check-label" for="defaultCheck2">
                          Phan thiết
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                        <label class="form-check-label" for="defaultCheck2">
                          Phan thiết
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                        <label class="form-check-label" for="defaultCheck2">
                          Phan thiết
                        </label>
                      </div>
                      
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <label>Kết quả</label>
                  <div class="form-group">
                    <button class="btn btn-outline-primary form-control">Xóa tất cả</button>
                  </div>
                  <div class="card list-place-tour">
                    <div class="card-body">
                      <div class="form-check">
                        <i class="fas fa-trash form-check-input"></i>
                        <label class="form-check-label" for="defaultCheck1">
                          Mũi né
                        </label>
                      </div>
                      <div class="form-check">
                        <i class="fas fa-trash form-check-input"></i>
                        <label class="form-check-label" for="defaultCheck2">
                          Phan thiết
                        </label>
                      </div>
                      <div class="form-check">
                        <i class="fas fa-trash form-check-input"></i>
                        <label class="form-check-label" for="defaultCheck2">
                          Phan thiết
                        </label>
                      </div>
                      <div class="form-check">
                          <i class="fas fa-trash form-check-input"></i>
                        <label class="form-check-label" for="defaultCheck2">
                          Phan thiết
                        </label>
                      </div>
                      
                    </div>
                  </div>
                </div>  
              </div>     
            </div>
            <div class="modal-footer col-12">
              <button type="button" class="btn btn-primary">Lưu</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>