@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Thêm mới";
}
@model Tours
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Thêm tour mới</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
              <li class="breadcrumb-item active">Thêm tour</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <section class="content">
      <div class="container-fluid card">
        <div class="col-12">
          <div class="row">
            <div class="col-12" style="padding: 20px;">
              <div class="form-group">
                <label>Tên tour</label>
                <input type="text" class="form-control" placeholder="Nhập tên tour">
              </div>
              <div class="form-group">
                <label>Loại</label>
                <select class="form-control">
                  <option>Chọn loại hình du lịch</option>
                  <option>Du lịch di động</option>
                  <option>Du lịch nghề nghiệp</option>
                  <option>Du lịch xã hội</option>
                  <option>Du lịch gia đình</option>
                </select>
              </div>
              <div class="form-group">
                <label>Mô tả</label>
                <textarea class="form-control" placeholder="Place some text here"></textarea>
              </div>
            </div>
            <div class="col-12" style="padding: 20px;">
              <div class="row">
                <div class="col-4">
                  <label>Chọn địa điểm</label>
                  <div class="form-group">
                    <select class="form-control" id="select-location-tour">
                      <option>Chọn thành phố</option>
                      <option value="0">Nha trang</option>
                      <option value="1">Phan thiết</option>
                    </select>
                  </div>
                  <div class="card list-place-tour">
                    <div class="card-body check-main-tour list-place1" id="check-main-tour-to">
                    </div>
                  </div>
                </div>
                <div class="col-1 justify-content-center align-self-center">
                   <button class="btn btn-outline-primary form-control" style="margin-bottom:10px;" id="location-add">></button>
                    <button class="btn btn-outline-primary form-control" id="location-de"><</button>
                </div>
                <div class="col-4">
                  <label>Kết quả</label>
                  <div class="form-group">
                    <input type="text" class="form-control" id="kq-list-place">
                    <button class="btn btn-outline-primary form-control">Xóa tất cả</button>
                  </div>
                  <div class="card list-place-tour">
                    <div class="card-body check-main-tour list-place2" id="check-main-tour-form">
                    </div>
                </div>
        </div>
        <div class="modal-footer col-12">
                  <button type="submit" class="btn btn-primary">Lưu</button>
              </div>
      </div>
    </section>
  </div>