@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Quản lý tour";
    @*var Loai = ViewData["Loai"] as IEnumerable<Loais>;*@
var Loai = ViewBag.Loai as IEnumerable<Loais>;
var ThanhPho = ViewBag.ThanhPho as IEnumerable<DiaDiems>;
}
@model Tours
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Thêm tour mới</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
              <li class="breadcrumb-item active">Thêm tour</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <section class="content">
      <div class="container-fluid card">
        <div class="col-12">
            <form method="post">
                <div class="row">
                    <div class="col-6" style="padding: 20px;">
                        <div class="form-group">
                            <label>Tên tour</label>
                            <input asp-for="Ten" type="text" class="form-control" placeholder="Nhập tên tour">
                            <span class="text-danger" asp-validation-for="Ten"></span>
                        </div>
                        <div class="form-group">
                            <label>Loại</label>
                            <select asp-for="LoaiId" class="form-control">
                                @foreach (var l in Loai)
                                {
                                    <option value="@l.LoaiId">@l.Ten</option>
                                }
                            </select>
                            <span class="text-danger" asp-validation-for="LoaiId"></span>
                        </div>
                        <div class="form-group">
                            <label>Mô tả</label>
                            <textarea asp-for="Mota" class="form-control" placeholder="Place some text here"></textarea>
                            <span class="text-danger" asp-validation-for="Mota"></span>
                        </div>
                    </div>
                    <div class="col-6" style="padding: 20px;">
                        <div class="row">
                            <div class="col-6">
                                <label>Chọn địa điểm</label>
                                <div class="form-group">
                                    <select class="form-control">
                                        @foreach(var tp in ThanhPho)
                                        {
                                            <option>@tp.Thanhpho</option>
                                        }
                                    </select>
                                </div>
                                <div class="card list-place-tour">
                                    <div class="card-body">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                            <label class="form-check-label" for="defaultCheck1">
                                                Mũi né
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                                            <label class="form-check-label" for="defaultCheck2">
                                                Phan thiết
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                                            <label class="form-check-label" for="defaultCheck2">
                                                Phan thiết
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                                            <label class="form-check-label" for="defaultCheck2">
                                                Phan thiết
                                            </label>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <label>Kết quả</label>
                                <div class="form-group">
                                    <button class="btn btn-outline-primary form-control">Xóa tất cả</button>
                                </div>
                                <div class="card list-place-tour">
                                    <div class="card-body">
                                        <div class="form-check">
                                            <i class="fas fa-trash form-check-input"></i>
                                            <label class="form-check-label" for="defaultCheck1">
                                                Mũi né
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <i class="fas fa-trash form-check-input"></i>
                                            <label class="form-check-label" for="defaultCheck2">
                                                Phan thiết
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <i class="fas fa-trash form-check-input"></i>
                                            <label class="form-check-label" for="defaultCheck2">
                                                Phan thiết
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <i class="fas fa-trash form-check-input"></i>
                                            <label class="form-check-label" for="defaultCheck2">
                                                Phan thiết
                                            </label>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer col-12">
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </section>
  </div>