@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Quản lý địa điểm";
}
@model IEnumerable<DiaDiems>
<div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Danh sách địa điểm</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
              <li class="breadcrumb-item active">Danh sách địa điểm</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <section class="content">
      <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <div class="btn-group btn-add" role="group" aria-label="Basic example">
                    <a href="/DiaDiem/ThemDiaDiem" class="btn btn-primary">Thêm địa điểm mới</a>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table class="table table-bordered table-hover" id="tableXemGiaTour">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Mã địa điểm</th>
                        <th scope="col">Tên địa điểm</th>
                        <th scope="col">Thành phố</th>
                        <th scope="col">Mô tả</th>
                        <th scope="col">Hành động</th>
                      </tr>
                    </thead>
                    <tbody>
                        @*<tr>
                            <th>DL001</th>
                            <td>Đà lạt</td>
                            <td>Đà lạt</td>
                            <td>Mô tả</td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="#">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Sửa
                                </a>
                                <a class="btn btn-danger btn-sm" href="#">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
*@                @foreach (var d in Model)
                    {
                        <tr>
                            <th>@d.DiadiemId</th>
                            <td>@d.Ten</td>
                            <td>@d.Thanhpho</td>
                            <td>@d.Mota</td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="#">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Sửa
                                </a>
                                <a class="btn btn-danger btn-sm" href="#">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
      </div>
    </section>
  </div>