body {
  font-family: 'Montserrat', sans-serif;
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.check-main-tour{
  padding: 0 !important;
}
.NvNgaysinhss {
    visibility: hidden;
}
.check-place {
    padding: 7px;
    margin-bottom: 0px !important;
}
.check-place:hover{
  background-color: #f1f1f1;
}
.check-value{
  margin-left: 0px !important;
}
.name-place{
  width: 93%;
  margin-left: 1.25em;

  cursor: pointer;
}
table.dataTable.no-footer {
  border-bottom: 0 !important;
}
.bd-highlight {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid rgb(216, 216, 216);
}
.bd-highlight > span {
  font-style: italic;
}
.form-add-doan{
  width: 700px;
}
#list-nv{
  display: none;
}
#list-cp{
  display: none;
}
.select2-container .select2-selection--single{
  height: 38px !important;
  min-width: 500px;
}
.list-place-tour{
  height: 180px;
  overflow-y: scroll;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background-color: #f6fafa;
  min-height: 40px;
  margin-top: 80px;
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}

.breadcrumbs ol {


  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;

  font-size: 14px;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}


/*--------------------------------------------------------------
# Our tour
--------------------------------------------------------------*/
.form_tour{
  display: none;
}
.form_nhanvien{
  display: none;
}
.form_list_customer{
  display: none;
}
.list-group-hdv{
  display: none;
}
.list-group-pdv{
  display: none;
}
.list-group-tx{
  display: none;
}
