@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Thêm chi phí";
}
@model tour.ViewModels.QuanLyChiPhi;
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Thêm chi phí</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Thêm giá mới</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid card">
            <div class="col-12">
                <form method="post" action="/ChiPhi/Create/">
                    <div class="row">
                        <div class="col-12" style="padding: 20px;">
                             <div class="row">
                                <div class="col-6" style="padding: 20px;">
                                    <div class="form-group">
                                    <label>Tên tour</label>
                                    <input asp-for="TenTour" type="text" class="form-control" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label>Tên đoàn</label>
                                        <input asp-for="IdDoan" type="hidden" class="form-control" readonly>
                                        <input asp-for="TenDoan" type="text" class="form-control" readonly>
                                    </div>
                                    <div class="form-group">
                                    <label>Loại chi phí</label>
                                    <select asp-for="IdLoaiChiPhi" class="form-control">
                                        @foreach(LoaiChiPhis l in ViewBag.LoaiChiPhi)
                                        {
                                            <option value="@l.ChiphiId">@l.Ten</option>
                                        }
                                    </select>
                                    </div>
                                </div>
                                <div class="col-6" style="padding: 20px;">
                                    <div class="form-group">
                                        <label>Nội dung</label>
                                        <input asp-for="NoiDung" type="text" class="form-control" placeholder="Nhập nội dung">
                                        <span class="text-danger" asp-validation-for="NoiDung"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>Hóa đơn</label>
                                        <input asp-for="HoaDon" type="text" class="form-control" placeholder="Nhập mã hóa đơn">
                                        <span class="text-danger" asp-validation-for="HoaDon"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>Giá</label>
                                        <input asp-for="Gia" type="number" class="form-control" placeholder="Nhập giá">
                                        <span class="text-danger" asp-validation-for="Gia"></span>
                                    </div>
                                </div>
                                </div>
                        </div>
                        <div class="modal-footer col-12">
                            <button type="submit" class="btn btn-primary">Lưu</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>