@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Thêm 1 đoàn du lịch";
}
@model IEnumerable<Tours>
<div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Thêm 1 đoàn mới</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
              <li class="breadcrumb-item active">Thêm đoàn khách</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <section class="content">
      <div class="container-fluid card">
        <div class="col-12">
          <div class="row">
            <div class="col-12" style="padding: 20px;">
                <div class="form-group">
                  <label>Tên đoàn</label>
                  <input type="text" class="form-control" placeholder="Nhập tên đoàn">
                </div>
              </div>
              <div class="col-12" style="padding: 20px;margin-bottom: 10px;">
                <div class="row">
                  <div class="col">
                    <label>Ngày đi</label>
                    <input type="date" class="form-control">
                  </div>
                  <div class="col">
                    <label>Ngày về</label>
                    <input type="date" class="form-control">
                  </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                  <div class="col">
                    <label>Chi tiết chương trình</label>
                    <textarea class="form-control"></textarea> 
                  </div>
                </div>
                <div class="form-group">
                  <label>Chọn tour</label>
                  <select class="form-control" id="select-tour-price">
                      <option selected='true'>Chọn tour cần đi</option>
                      @foreach (var item in Model)
                      {
                          <option value="@item.TourId">@item.Ten</option>
                      }

                  </select>
                </div>
                <div class="form-group">
                  <label>Giá</label>
                  <input type="number" class="form-control" id="price-tour-d" readonly>
                </div>
              </div>
              <div class="col-12" style="padding: 20px;">
                <div class="d-flex justify-content-end">
                  <a href="#" type="button" class="btn btn-primary" id="btn_save_tour">Lưu</a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
  </div>